/* styles.css (or any other CSS file) */
@font-face {
  font-family: "no";
  src: url("./assets/Luckiest_Guy,Poppins,Press_Start_2P/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}
.pokemon-list-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}
li,
p,
h1,
h2,
h3,
input::placeholder,
input {
  font-family: "no";
  color: black;
}
li {
  cursor: pointer;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.214);
}
